.card__pseudo-check-button {
  height: 19px;
  width: 22px;
  background-image: url("../../../images/disabled-like-icon.svg");
  display: block;
}

.card__button-like:checked+.card__pseudo-check-button {
  background-image: url("../../../images/active-like-icon.svg");
}

.card__button-like:disabled+.card__pseudo-check-button {
  background-image: url("../../../images/disabled-like-icon.svg");
}

.card__button-like:focus+.form__pseudo-item_type_checkbox {
  opacity: 0.5;
}
