.profile__photo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}

@media (max-width:564px) {
  .profile__photo {
    left: auto;
  }
}
