.popup__img-tigger {
  display: block;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  border: none;
}

@media (max-width:564px) {
  .popup__img-tigger {
    width: 20px;
    height: 20px;
  }
}
